.container {
  background-color: #f6f6ef;
  width: 100%;
}

.search-form {
  height: 60px;
  background-color: #ff742b;
  padding: 0 10px;
}

.search-form form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form input {
  height: 70%;
  width: 100%;
  margin: 0 100px;
}

.search-sorters {
  padding: 0 10px;
  margin-top: 10px;
}

.search-sorters button {
  padding: 5px 10px;
  margin-right: 5px;
}

.search-sorters #selected {
  background-color: black;
  color: white;
}

.stories-list {
  padding: 10px;
}

.story {
  margin-bottom: 10px;
}

.story h1 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 3px;
}

.story h1 a {
  text-decoration: none;
  color: #828282;
  margin-left: 10px;
  font-size: 1rem;
}

.story-info h4 {
  font-size: 16px;
  font-weight: 400;
  color: #828282;
  display: inline;
}

.pagination {
  padding-bottom: 25px;
}

.pagination ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pagination li {
  list-style: none;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  line-height: 1.5;
  text-align: center;
  /* padding: 2px 6px; */
  cursor: pointer;
}

.pagination ul #selected {
  border: 1px solid #ff742b;
  color: #ff742b;
}
